extends layout

block content
  header(role='banner')
    hgroup
        h1
            img(src='/images/logo.jpg') 
            <strong>A4 CRUD App</strong>
  .container
    h1 Login Page
    p.lead Come on in!
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Email')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    br
    h4= info     